.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid var(--yellow);
    transition: all 0.2s ease;
}

.button::after { 
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="%231E1E1E" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 16h28m0 0L16 2m14 14L16 30"/></svg>'); 
    display: block;
    transform: translateY(0.3rem);
    opacity: 0;
    margin-left: -2rem;
    transition: all 0.2s ease;
    width: 16px;
}

.button:hover {
    transform: scale(1.025);
}

.button:hover::after {
    opacity: 1;
    margin-left: 0.5rem;
}

.button--secondary {
    background: none;
    color: var(--white);
}

.button--secondary::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32"><path stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2 16h28m0 0L16 2m14 14L16 30"/></svg>'); 
}

/* .button--secondary:hover {
    color: var(--black);
} */

.button-container {
    display: flex;
}

.button-container--center {
    justify-content: center;
}