.button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid var(--yellow);
    transition: all 0.2s ease;
}

/* .button::after { 
    content: url('../assets/right-arrow-icon.svg');
    display: block;
    transform: translateY(0.35rem);
    opacity: 0;
    margin-left: -3rem;
    transition: all 0.2s ease;
    width: 16px;
} */

.button:hover {
    transform: scale(1.025);
}

.button:hover::after {
    opacity: 1;
    margin-left: 0;
}

.button--secondary {
    background: none;
    color: var(--white);
}

/* .button--secondary::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill:"%23fff"><path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z"/></svg>');
} */

/* .button--secondary:hover {
    color: var(--black);
} */

.button-container {
    display: flex;
}

.button-container--center {
    justify-content: center;
}