.footer__button {
    margin-block-start: 1rem;
    margin-block-end: 3rem;
}

.footer__contact {
    margin: 0 auto;
}

.footer__contact a {
    text-align: center;
    display: block;
    margin-block-end: 1rem;
    font-size: 2rem;
}

.copyright {
    display: block;
    background-color: var(--black);
    text-align: center;
    padding: 2rem;
    color: var(--white);
    width: 100%;
}