.hero {
    padding-block: 22rem;
    position: relative;
    z-index: 1;
}

.hero__content {
    max-width: 860px;
}

.hero__title {
    margin: 0 0 4rem;
}

.hero__description {
    margin: 0 0 2rem;
    max-width: 500px;
}

.hero__button-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@media all and (max-width: 1100px) {
    .hero {
        padding-block: 12rem;
    }
}

@media all and (max-width: 500px) {
    .hero {
        padding-block: 8rem;
    }
}