* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--black);
    min-width: 300px;
    
}

img {
    width: 100%;
}

p {
    margin-block-end: 1rem;
}