.split-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(3rem, 8vw, 8rem);
}

.split-section__content {
    flex: 50%;
    max-width: 580px;
}

.split-section__image {
    flex: 50%;
    flex-grow: 0;
    position: relative;
}

.split-section__image::after {
    content: '';
    position: absolute;
    bottom: -2rem;
    right: -2.5rem;
    width: 95%;
    height: 95%;
    background-color: var(--copper);
}

.split-section__image img {
    aspect-ratio: 4/3;
    object-fit: cover;
    position: relative;
    z-index: 5;
}