/* Imports */
@import './styles/Reset.css';
@import './styles/Header.css';
@import './styles/Global.css';
@import './styles/Button.css';
@import './styles/Typography.css';
@import './styles/Hero.css';
@import './styles/Steps.css';
@import './styles/Split-section.css';
@import './styles/ChooseUs.css';
@import './styles/Feature.css';
@import './styles/Dropdown.css';

/* Custom Properties */
:root {
  --white: #fff;
  --black: #020102;
  --yellow: #FCFB00;
  --copper: #D8A80B;
  --light-grey: #F7F6F2;
  --box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.05);
}

/* Main */
main {
  background: url('./assets/copper_weighing_bg.webp') no-repeat;
  background-size: cover;
  background-position: top 50% left 75%;
  padding-block: 4rem;
}

/* Layout */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 4rem;
}

@media (max-width: 680px) {
  .container {
    padding-inline: 2rem;
  }
}